@import url(https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap);

.contact-btn,
.toggle {
  cursor: pointer
}

.nav ul,
.nav ul li {
  position: relative
}

.contact-btn,
.gallery .item .action a {
  display: inline-block;
  color: #fff;
  text-decoration: none
}

:root {
  --primary-color: #d91c28;
  --secondary-color: #1b206e
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body,
html {
  font-family: Poppins, sans-serif;
  color: #111;
}

h1 {
  font-size: 45px;
  font-weight: 550
}

p {
  margin: 20px 0 10px 5px;
  font-size: 20px;
  font-weight: 400;
}

section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 100px;
  margin-top: 60px
}

section.home {
  flex-direction: row;
  margin-top: 0
}

.contact-btn {
  background: var(--primary-color);
  padding: 15px 30px;
  margin: 30px 0px;
}

.contact-btn:hover {
  transform: scale(.97)
}

.logo {
  position: absolute;
  top: 20px;
  left: 100px;
  font-size: 2.5rem;
  font-weight: 800;
  z-index: 20
}

.toggle {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background: var(--primary-color) url(/images/menu.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 20;
}

.nav,
.gallery .item img {
  width: 100%;
  height: 100%
}

.toggle.active {
  background: var(--primary-color) url(../images/close.png);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat
}

.nav{
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #fff;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center
}

.nav.active {
  left: 0
}

.nav ul li {
  list-style: none;
  text-align: center
}

.nav ul li a {
  font-size: 2.5rem;
  color: #111;
  text-decoration: none;
  font-weight: 300
}

.nav ul li a:hover {
  color: var(--primary-color)
}

.nav .social {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.nav .social a {
  transform: scale(.5);
  display: inline-block
}

.nav .email-icon {
  position: absolute;
  bottom: 20px;
  transform: scale(.5)
}

.title {
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: .2rem;
  text-align: center
}

.title span {
  color: #dc143c
}

.home-content {
  position: relative;
  max-width: 700px;
  z-index: 10;
  margin: 20px;
}

.home-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 110%;
  opacity: .35;
  width: 100%
}

.skills {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center
}

.skills .skill {
  padding: 30px
}

.skills .skill:hover {
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1)
}

.skills .skill h2 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  color: var(--secondary-color)
}

.skills .skill .icon img {
  max-width: 100px
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px
  /* display: grid;
  grid-template-columns: repeat(6,1fr);
  margin-top: 5px; */
}

.gallery .item {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 10px
}

.gallery .item .action {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s
}

.gallery .item:hover .action {
  opacity: 1
}

.gallery .item .action a {
  border: 1px solid #fff;
  padding: 5px 15px
}

.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 90%
}

#contact .contact-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%
}

#contact .contact-item {
  width: 40%;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 18px 0 #0000002c;
  transition: box-shadow .3s
}

#contact .contact-item:hover {
  box-shadow: 0 0 5px 0 #0000002c
}

#contact .icon {
  width: 70px;
  margin: 0 auto 10px
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px
}

#contact .contact-info h2 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500
}

.contact .icon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center
}

.contact .icon img {
  width: 100%;
  height: auto
}

@media (max-width:1068px) {

  .contact-form,
  .contact-info {
    width: 100%;
    padding: 30px 30px 20px
  }

  .home-img {
    height: 110%;
  }

  .logo {
    top: 8px;
    left: 40px;
    font-size: 2.5rem
  }

  section {
    padding: 100px 40px
  }

  .nav ul li a {
    font-size: 2.2rem
  }

  .skills {
    grid-template-columns: repeat(2, 1fr)
  }

  .contact,
  .contact-form .row {
    flex-direction: column
  }

  .contact-form .input100,
  .contact-form .input50 {
    width: 100%;
    margin: 0
  }

  .contact-info {
    margin-top: 20px
  }

  #contact .contact-info h1 {
    font-size: 2.0rem;
    font-weight: 350;
    margin-bottom: 5px
  }
  
  #contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 350;
  }

  .expanded {
    max-width: 60%;
    max-height: 80%;
  }
}

@media (max-width:768px) {
  .contact-btn {
    padding: 10px 25px;
  }
  
  .skills {
    grid-template-columns: 1fr
  }

  .skills.skill {
    box-shadow: 0 10px 30px rgba(0, 0, 0, .1)
  }

  #contact .contact-items {
    width: 150%;
  }

  .expanded {
    max-width: 80%;
    max-height: 80%;
  }
}